* {
font-family:verdana,sans-serif;
}

.left_column {
	margin-right:400px;
	margin-left:0px;
}

.right_column{
	float: right;
	width: 350px;
	margin-top:0px;
	border-style:solid;
	border-width:thin;
	
}
.right_column h4 {
margin-top:0px;
}

ul#nav_container {
	list-style-type: none;
	background-color:rgb(100,200,255);
	text-align: center;	
	margin-top:0px;
}

ul#nav_container li {
	display: inline-block;
	font-weight: bold;
	padding-right:50px;
}

ul a {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	color:rgb(0,0,0);
}

#main_content {
	width: 900px;
	margin: auto;
}



h1#heading{
	text-align:center;
	margin-bottom:0px;
}

p#header_info {
	margin-top:0px;
	text-align: center;
	font-style:oblique;
	font-size:90%;
}
li a:hover, .button:hover {
color:rgb(255,0,0);
}


ol#news {
	text-indent:5px;
	font-size: 80%;
	margin-top:0px;
	list-style-type: upper-roman;
	
}

ol#news li{margin-left:-10px;}

p#proj_description {
	font-size:smaller;
	margin-top:5px;
}
ol#project{
	
}